{% extends 'profile.html' %}
{% block title %}Update classroom{% endblock %}
{% block albums_active %}active{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
      <h3>update class: {{course.name}}</h3>
      <div class="panel-body box">
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% crispy form %}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
{% endblock %}