<!--profile page for admin-->
{% extends "base.html" %}

{% block navbar%}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/manager/profile">Profile</a></li>
      <li><a href="/manager/class_list"><span class="glyphicon glyphicon glyphicon-list"></span> Classes</a></li>
      <li><a href="/manager/student_list"><span class="glyphicon glyphicon-user"></span> Students</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><div class="dropdown">
  <button id='dropdown' class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Settings
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_AuvqZL9XXmnbFyuEGcEWVYtTkua4RkdF&scope=read_write">Stripe Configuration</a></li>
    <li><a href="#">Reset Password</a></li>
    <li><a href="#">Intergration</a></li>
  </ul>
</div></li>
      <li><a href="/manager/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
	


{% block content %}
{% endblock%}


