{% extends 'profilebase.html' %}

{% block content %}
    
{{ state }}

{% if next %}
<form action="/portal/customer_login/?next={{next}}" method="post" >
{%else%}
<form action="/portal/customer_login/" method="post">
{% endif %}
    {% csrf_token %}
    username:
    <input type="text" name="username" value="{{ username }}" /><br />
    password:
    <input type="password" name="password" value="" /><br />
    <input type="submit" value="Log In"/>
</form>

{% if next %}
<a href='/portal/register/?next={{next}}'> Dont have an account yet? </a>
{% else %}
<a href='/portal/register/'> Dont have an account yet? </a>
{% endif %}

{% endblock content %}