{% extends "profile.html" %}

{% block content%}

<div> 
    <h2>Setup Stripe Info</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
    mollit anim id est laborum.</p>
    
    <div class="btn-group">
    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_AuvqZL9XXmnbFyuEGcEWVYtTkua4RkdF&scope=read_write" class="btn btn-white btn-default"> Register</a>
    </div>
</div>

{% endblock %}
